<!-- Logo Flutuante -->
<a href="./index.html" class="logo-flutuante">
    <picture>
        <source srcset="./assets/img/base_site/logo-fpemg.webp" type="image/webp">
        <img src="./assets/img/base_site/logo-fpemg.webp" 
            alt="Logo da Federação Mineira de Paintball. Brasão com uma máscara centralizada abaixo do triângulo vermelho que é o símbolo da bandeira de Minas Gerais. Dentro do triângulo está escrito 'Libertas quae sera Tamen'. Acima a abreviatura da federação FPEMG." loading="lazy">
    </picture>
</a>
<nav class="nav-fixa navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">INÍCIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="quem-somos.html">QUEM SOMOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="modalidades.html">MODALIDADES</a>
                </li>
                <!-- DropDown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        FEDERADOS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="filiese.html">Federe-se</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="federados.html">Federados</a></li>
                        
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faq.html">DÚVIDAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contato.html">CONTATO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="transparencia.html">TRANSPARÊNCIA</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
